
// @custom-media --only-mobile (max-width: 1000px);

.login {
    // background: $primary-color;
    background: rgb(219, 226, 226);
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: auto;
    @media ( min-width: $tablet) {
        align-items: center;
    }
    @media ( max-width: $mobile) {
        padding: 0 16px;
    }

    &__icon-logo {
        font-family: $secondary-font;
        font-weight: 500;
        color: #000;
        font-size: 23px;
        letter-spacing: 8.5px;
        position: absolute;
        top: calc(100vh - 85%);
        left: 100px;

        @media ( max-width: $mobile) {
        top: 50px;
        left: 16px;
    }
    }
    &__container {
        display: flex;
        gap: 50px;
        padding: 60px 30px;
        background-color: rgba(252, 252, 252, 0.3);
        backdrop-filter: blur(3px);
        border: solid 1px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        box-shadow: 0px 10px 20px 5px rgb(0, 0, 0, 0.22);

        @media ( max-width: $mobile) {
            display: grid;
            margin: 100px 0;
            height: 400px;
        }
    } 
    &__wrap {
        h3 {
            text-align: center;
            font-family: $primary-font;
            font-weight: 700;
            letter-spacing: 2.8px;
            margin-bottom: 30px;
            font-size: 18px;
            color: #000;
        }
        .input {
            margin: 10px 0;
            text-align: center;
            &__box {
                width: 200px;
            }
        }
        .button {
            margin-top: 50px;
            text-align: right;
            @media ( max-width: $mobile) {
                text-align: center;
            }
        }
    }
    &__info {
        text-align: right;
        h4 {
            font-family: $ternary-font;
            font-weight: 900;
            font-size: 20px;
            margin: 10px 0;
            color: #000;
        }
        p {
            font-family: $secondary-font;
            font-size: 16px;
            font-weight: 300;
            color: #000;
        }
        @media ( max-width: $mobile) {
            grid-row: 1;
        }
    }
    &__business {
        text-decoration: underline;
        font-size: 18px;
    }
}